# pip freeze > requirements.txt
# 설치된 패키지 목록과 버전 정보를 파일로 저장

# type requiements.txt
# 저장 된 항목들 확인


annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio @ file:///C:/b/abs_5c8w79vk0u/croot/anyio_1745334672105/work
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
fastapi @ file:///C:/b/abs_96d9k5nptn/croot/fastapi_1724789169469/work
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
pydantic @ file:///C:/b/abs_27dx58x550/croot/pydantic_1734736090499/work
pydantic_core @ file:///C:/b/abs_bdosz7qwys/croot/pydantic-core_1734726071532/work
setuptools==75.8.0
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
starlette @ file:///C:/b/abs_584arzjt6c/croot/starlette-recipe_1724683216853/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
uvicorn @ file:///C:/b/abs_0a5pprsdq4/croot/uvicorn-split_1732662019530/work
wheel==0.45.1
